body {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    color: #6bb56b;
}

.mydoc-main {
    height:100vh;
    overflow-y: auto;
}

.mydoc-container {
     width: 1000px; 
     margin: 0 auto;
}

.mydoc-navbar {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    clear:both;
    width: auto;
    display: none;
    background-color: #6bb56b;
}

.mydoc-navbar a {
    text-decoration: none;
    color: white;
}

.mydoc-navbar>li {
    position: relative;
    float: left;
    list-style-type: none;
}

.mydoc-navbar:after {
    content: "";
    clear: both;
    display: block;
}

.mydoc-navbar>li:hover {
    background-color: #88ca88;
}

.mydoc-navbar>li:hover>ul {
    display: block;
}

.mydoc-navbar>li>a {
    padding:10px 15px;
    display: inline-block;
}

.mydoc-navbar>li>ul {
    max-height: 550px;
    overflow: auto;
    min-width: 150px;
    padding-left: 0;
    left: 0;
    z-index: 9999;
    display: none;
    position: absolute;
    background-color: #88ca88;
    box-shadow: rgb(136, 136, 136) 10px 10px 7px;
}

.mydoc-navbar>li>ul>li {
    list-style-type: none;
}

.mydoc-navbar>li>ul>li>a {
    padding:5px 15px;
    display: inline-block;
}

.mydoc-path {
    border-bottom: 1px solid #88CA88;
    padding-left: 0;
}

.mydoc-path a {
    text-decoration: none;
}

.mydoc-path>li {
    position: relative;
    float: left;
    list-style-type: none;
}

.mydoc-path:after {
    content: "";
    clear: both;
    display: block;
}

.mydoc-path>li:last-child>a {
    color: #ccc;
}

.mydoc-path>li>.label, 
.mydoc-path>li>.sep {
    padding:5px;
    display: inline-block;
}

.mydoc-path>li.hover {
    background-color: #88ca88;
    color: #fff !important;
}

.mydoc-path>li.hover a {
    color: #fff;
}

.mydoc-path>li.hover>.sep {
    color: #fff;
}

.mydoc-path>li>.sep {
    cursor: pointer;
    color: #ccc;
}

.mydoc-path>li>.sep:before {
    content: "▶";
}

.mydoc-path>li>ul {
    padding: 10px;
    max-height: 550px;
    overflow: auto;
    min-width: 150px;
    position: absolute;
    padding-left: 0;
    background-color: #88ca88;
    box-shadow: rgb(136, 136, 136) 10px 10px 7px;
}

.mydoc-path>li>ul>li {
    list-style-type: none;
}

.mydoc-path>li>ul>li>a {
    display: block;
    padding: 0px 15px;
}

.mydoc-list {
    padding: 10px 15px;
    background-color: #eaeaea;
    display: none;
    max-height: 300px;
    overflow: auto;
}

.mydoc-list>li {
    list-style-type: none;
}

.mydoc-list>li>.icon {
    display: inline-block;
    margin-right: 10px;
    color: #999;
}

/* http://www.fontawesome.com.cn/faicons/ */
.mydoc-list>li.folder>.icon:before { content: "\f114"; }
.mydoc-list>li.file>.icon:before { content: "\f016"; }
.mydoc-list>li.file-md>.icon:before,
.mydoc-list>li.file-txt>.icon:before { content: "\f0f6"; }
.mydoc-list>li.file-pdf>.icon:before { content: "\f1c1"; }
.mydoc-list>li.file-png>.icon:before,
.mydoc-list>li.file-jpg>.icon:before,
.mydoc-list>li.file-jpeg>.icon:before,
.mydoc-list>li.file-gif>.icon:before { content: "\f1c5"; }
.mydoc-list>li.file-pptx>.icon:before { content: "\f1c4"; }
.mydoc-list>li.file-xlsx>.icon:before { content: "\f1c3"; }

.mydoc-editor {
    position: absolute;
    top:0;
    left: 0;
    background-color: white;
    width: 100vw;
    display: none;
}

.mydoc-editor-toolbar {
    background-color: #88ca88;
    height: 40px;
    line-height: 40px;
}

.mydoc-editor-toolbar a {
    display: inline-block;
    padding: 0 5px;
    color: white;
}

.mydoc-editor-container {
    overflow: hidden;
    height: calc(100vh - 40px);
}

.mydoc-editor-tool-save {
    float: right;
}

.mydoc-editor-tool-cancel {
    float: right;
}

.mydoc-content table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}

.mydoc-content table td,.mydoc-content table th {
    border: 1px solid #e0e0e0;
    padding: 5px;
}

.mydoc-content table thead {
    background-color: #eaeaea;
}

.mydoc-content code {
    padding: 0px 3px;
    margin: 0px 3px;
    background-color: #ffcfcc;
    border-radius: 3px;
    font-family: "Consolas";
}

.mydoc-content pre>code  {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.mydoc-content pre {
    padding: 10px;
    overflow: auto;
    background-color: #dddddd;
}

@media screen and (max-width: 1000px) {
    .mydoc-container {
        width: auto;
    }
}